
body{
  font-family: Sans-serif;
}
.container {
  width:85%;
  align-content: center;
  background: linear-gradient(to bottom, rgb(55, 120, 206), rgb(8, 4, 226));
  padding:5%;
  margin:auto;
}

button{
  width:10%;
  height:40px;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 1px;
}

button:hover {
  border:solid blue 2px;
}

h1{
  align-content: center;
  background:rgb(100, 223, 216);
  color:red;
  border: solid black 2px;
  padding-left:35%;
  padding-right: 35%;
  padding-top:1%;
  padding-bottom: 1%;
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);
  border-radius: 5px
}

div#gameBoard > div{
  background: url("card.jpg") no-repeat;
  background-size: 90px;
  border: solid black 2px;
  margin: 10px;
  width: 60px;
  height:100px;
  float:left;
  padding:1%;
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
  color:black;
  font-weight: bold;
}
div#gameBoard > div:hover {
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.1);
  border: solid white 2px;
}
.scorebox > div {
  margin: 10px;
  clear: both;
  border: solid black 2px;
  padding:1%;
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
}

#red_table {
  background-color: red;
  width:500px;
}

#blue_table{
  background-color: rgb(100, 223, 216);;
  width:500px;

}

#playerDisplay {
  background:white;
  text-align: center;
  padding: 1%;
  margin:5px;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 1px;
}

